<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid" style="background-color: #000000;">
    <a class="navbar-brand" href="#" style="color: rgb(224, 210, 2);">TurboTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: rgb(255, 255, 255);"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white;" >Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(255, 255, 255);">
            Servicios
          </a>
          <ul class="dropdown-menu" style="background-color: #c4c110;">
            <li><a class="dropdown-item" href="/registrar-cliente" style="color: black;" >Registrar Cliente</a></li>
            <li><a class="dropdown-item" href="/registrar-ost" style="color: black;" >Registrar OST</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/bitacora" style="color: black;" >Bitácora de incidencias</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>







